/Portafoglio/venv
/Portafoglio/.env
/Portafoglio/__pycache__
/Portafoglio/utils/__pycache__
/Portafoglio/prove.py
/Server/backend/node_modules
/Server/frontend/node_modules
/Server/backend/.env
/Server/frontend/build